{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">Edit Position</div>
        <div style="padding: 1rem"> 
            <div class="right mb-2">
                <a href="{% url 'position:index' %}" role="button" class="btn btn-sm btn-light">Back</a>
            </div>
            <form action="{% url 'position:update' id=position.id %}" method="POST">
                {% include 'position/form.html' %}
            </form>
        </div>
    </div>
{% endblock %}